*{
	font-family: Raleway;
}
#map {
    height: 300px;
    width: 100%;
}
.color-white{
	color: white
}
.bold{
	font-weight: bold;
}
.upper{
	text-transform: uppercase;
}
a{
	text-decoration: none;
	color: inherit;
	transition: 0.5s;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
	
}
a:hover, a:focus{
	text-decoration: none;
	transition: 0.5s;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
	color: black;
}
.logo{
		width: 51px;
    margin-top: 8px !important;
    cursor: pointer;
}
.logo-blanco{
	position: absolute;
}
.logo-normal{
	/*display: inline-block;*/
	opacity: 0;
}

.nav-bar{
	/*background-color: gray;*/
	height: 94px !important;
	position: fixed;
    width: 100%;
    z-index: 9;

}
nav ul{
	margin: 42px;
}
nav ul li{
	font-size: 16px;
	font-weight: bold;
	color: white;
	text-transform: uppercase;
	list-style: none;
	float: left;
	display: inline;
	padding: 15px;
}
.menu-responsive ul li{
	color: black;
	width: 190px;
    padding: 19px;
}
header{
	background-image: url(../img/header-fondo/texture.png), url(../img/header-fondo/n-bg3.jpeg);
	/*position: relative; */
	height: 727px;
	background-size: auto, cover;
    background-attachment: fixed;
    background-position: center;
}
header h1{
	margin-top: 255.5px;
}
.nosotros-empresa, .nuestra-cultura{
  height: auto;
  background: #b9b9b91a; /* For browsers that do not support gradients */
}
.proximamente h3{
	padding-bottom: 26px;
}
.proximamente p{
	text-align: left;
}

.btn-scroll a {
	position: absolute;
	bottom: 20px;
	left: 50%;
	z-index: 2;
	display: inline-block;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
	color: #fff;
	font : normal 400 20px/1 'Josefin Sans', sans-serif;
	letter-spacing: .1em;
	text-decoration: none;
	transition: opacity .3s;
	-webkit-transition: opacity .3s;
	-moz-transition: opacity .3s;
	-o-transition: opacity .3s;
	-ms-transition: opacity .3s;
	width: 160px;
    padding-bottom: 10px;
    margin-left: -79px;
}
.btn-scroll a:hover {
	opacity: .5;
}
#scroll-section a {
	padding-top: 50px;
}
#scroll-section a span {
	position: absolute;
	top: 0;
	left: 50%;
	width: 24px;
	height: 24px;
	margin-left: -12px;
	border-left: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-animation: sdb05 1.5s infinite;
	animation: sdb05 1.5s infinite;
	box-sizing: border-box;
}
.row-margin{
	margin-top: 90px;
	margin-bottom: 90px;
}
.textos-margin{
	margin-top: 60px;
    margin-bottom: 60px;
}
@-webkit-keyframes sdb05 {
	0% {
		-webkit-transform: rotate(-45deg) translate(0, 0);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		-webkit-transform: rotate(-45deg) translate(-20px, 20px);
		opacity: 0;
	}
}
@keyframes sdb05 {
	0% {
		transform: rotate(-45deg) translate(0, 0);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: rotate(-45deg) translate(-20px, 20px);
		opacity: 0;
	}
}

/* Smartphones (portrait and landscape) ----------- */
@media (max-width : 390px) {
	.nosotros-personal .div-img,
	.nosotros-personal h4,
	.nosotros-personal p{
		text-align: center;
	}
}

.header{
	height: 50px;
    width: 100%;
    background-color: red;
    display: none;
}

section.footer{
	/*background-color: #1b1a1a;*/
	background-color: #082128;
}
section.footer .derechos{
	background: black;
    /*height: 68px;*/
    text-align: center;
	padding-top: 28px;
    padding-bottom: 17px;
    color: #7c8081;
}
.menu-responsive{
    color: black;
    background: white;
    height: 632px;
    width: 286px;
    right: -290px;
    /* right: 0; */
    top: 0; 
    transition: 0.5s;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
    overflow-y: scroll;
    height: 100%;
    position: fixed;
    z-index: 10;
    box-shadow: 8px -6px 23px black;
}
footer h3{
	color: #979797;
}
form input, form textarea, form button{
	border-radius: 3px !important;
}
.form-control{
	background-color: #293c43;
	border: none;
	color: #e6e3e3;
}
form button{
	width: 100%;
    background: #1b81dd;
    color: white;
    text-transform: uppercase;
    border: none;
    margin-top: 11px;
}
form button:hover{
    background: #1f8feb;
    color: white !important;
}
form:visited{
	color: white;
}

label, footer p{
	font-weight: 500;
    color: #808485;
}

.modal-content{
	    width: 100%;
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: center;
    font-size: 23px;
    border-radius: 3px;
}
.modal-content .icon-cross{
	float: right;
    margin-top: -66px;
    padding: 15px;
    font-size: 23px;
    cursor: pointer;
}



/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {

}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1020px) and (orientation : portrait) {
.nosotros-personal .textos-margin{
	text-align: center;
}
.proximamente .textos-margin{
	text-align: center;
}
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
header{
	height: 1024px
}
header .text-center{
	padding-top: 100px;
}
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}
/* iPhone 6 landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2){
nav ul.menu-pc{
  display: none;
  }
}

/* iPhone 6 portrait */
@media only screenand (min-device-width: 375px)and (max-device-width: 667px)and (orientation: portrait)and (-webkit-min-device-pixel-ratio: 2){ 
nav ul.menu-pc{
  display: none;
  }
  .nosotros-personal .textos-margin{
	text-align: center;
	}
}

/* iPhone 6 Plus landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 3){
nav ul.menu-pc{
  display: none;
  }
  .nosotros-personal .textos-margin{
	text-align: center;
}
}

/* iPhone 6 Plus portrait */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 3){ 
nav ul.menu-pc{
  display: none;
  }
}

/* iPhone 6 and 6 Plus */
@media only screen and (max-device-width: 640px), only screen and (max-device-width: 667px), only screen and (max-width: 480px){ 
nav ul.menu-pc{
  display: none;
  }

  .nosotros-personal .textos-margin{
	text-align: center;
}
}

/* Apple Watch */
@media (max-device-width: 42mm) and (min-device-width: 38mm){ 

}

@media(max-width: 768px){
/*  nav ul.menu-pc{
  display: none;
  }*/
}

@media screen and (min-width: 990px){
  .menu-responsive{
  right: -290px !important;
  }
}

@media screen and (max-width: 990px) { 
nav ul.menu-pc{
  display: none;
  }
  .nosotros-personal .textos-margin{
	text-align: center;
 }
.proximamente h3{
	text-align: center;
 }
   .row{
    margin-right: 0px;
    margin-left: 0px;
  }
}
